*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    /* background-image: url("../Images/mainpage5.png");  */
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    display: flex;

}

.main_container{
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 40px 50px grey;
    
}

.navbar{
    /* width: 1430px; */
    height: 55px;
    /* border: solid rgb(150, 8, 8) 5px; */
    /* padding-top: 15px; */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo{
    background-color: rgb(18, 174, 171);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 10px; */
    /* float: left; */
    /* border: solid rgb(142, 43, 43) 1px; */
    display: inline-block;
    height: 55px;
    width: 210px;
    margin-top: 3px;
    margin-left: 120px;
    color: white;
    font-size: 25px;
    padding: 6px;
    /* display: flex;
    align-items: center; */
}


.menu{
    width: 500px;
    height: 75px;
    /* border: solid rgb(24, 5, 5) 1px; */
    /* margin-top: 5px; */
    margin-left: 400px;
    margin-right: 10px;
    /* display: inline-block; */
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid rgb(29, 8, 8) 1px; */
    height: 55px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 2px;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 10px;
    font-size: 20px;
    height: 40px;
    border-right: solid rgb(187, 183, 183) 2px;
    padding: 3px;
    /* transition: 0.5s ease-in-out; */
    transition: all 0.7s;
}

ul li a{
    text-decoration: none;
    color: rgb(131, 124, 124);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* transition: 0.5s ease-in-out; */
    transform: scale(1.2);
    /* border: solid grey 1px; */
    font-family: myFirstFont;
    /* margin-top: 30px; */
    
}

ul li:hover{
    background-color: rgb(18, 174, 171);
    margin-top: 10px;
    padding: 10px;
    transform: scale(1.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul li a:hover{
    /* margin-bottom: 15px; */
    transform: scale(1.2);
}

.second_container{
    background-color: rgba(194, 200, 206, 0.74);
    background-image: url("../Images/sand3.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1300px; */
    height: 540px;
    /* border: solid rgb(170, 34, 34) 5px; */
    text-decoration: none;
    /* margin-top: 5px; */
    display: flex;
    justify-items: center;
}

.second_container .personal_info{
    width: 600px;
    height: 512px;
    /* border: solid rgb(170, 34, 34) 5px; */
    background-color: whitesmoke;
    margin-top: 27px;
    margin-left: 120px;

}

.about_me_h1{
    width: 530px;
    height: 45px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(18, 174, 171);
    border-bottom: solid rgb(203, 199, 199) 4px;
}

.personal_info_img_h1_p{
    width: 594px;
    height: 430px;
    /* border: solid rgb(170, 34, 34) 5px; */
    background-color: whitesmoke;
    margin-top: 5px;
}
.img_border{
    /* width: 190px;
    height: 232px; */
    width: 175px;
    height: 215px;
    margin-left: 20px;
    margin-top: 8px;
    /* display: flex;
    align-items: center;
    background-repeat: no-repeat; */
    /* background-size: cover;    */
    /* border: solid rgb(170, 34, 34) 5px; */
    float: left; 
}
.main_img{
    /* margin-top: 2px; */
    /* width: 175px;
    height: 215px; */
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    
}
.personal_info_img_h1_p h1{
    color: rgb(120, 115, 115);
}
p{
    margin-top: 15px;
    width: 585px;
    height: 400px;
    line-height: 27px;
    color: rgb(120, 115, 115);
    text-align: justify;    
}


.contact_info{
    width: 390px;
    height: 165px;
    /* border: solid rgb(170, 34, 34) 5px; */
    margin-top: 27px;
    margin-left: 160px;
    background-color: whitesmoke;
}

.icons{
    width: 370px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;   
}

.github, .linkedin, .stackf{
    width: 80px;
    height: 60px;
    margin-left: 44px;  
}

.github img{
    width: 70px;
    height: 65px;
}
.linkedin img{
    width: 70px;
    height: 65px;
}
.stackf img{
    width: 70px;
    height: 65px;
}

.icons_head{
    width: 350px;
    margin-left: 20px;
    height: 40px;
    border-bottom: solid rgb(203, 199, 199) 4px;
    color: rgb(18, 174, 171);
    display: flex;
    align-items: center;
}

.icons_head h1{
    margin-left: 70px;
}
.footer{
    width: 1442px;
    height: 70px;
    /* border: solid rgb(170, 34, 34) 5px; */
    /* margin-top: 27px; */
    /* margin-left: 5px; */
    border-top: solid rgb(18, 174, 171) 5px;
    background-color: rgb(123, 117, 117);
    backface-visibility: visible;
    display: flex;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;

}
.footer h2{
margin-left: 640px;
color: rgb(159, 151, 151);
font-size: 18px;
}